<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route frontName="magenest_admin" id="magenestadmin">
            <module name="Magenest_Movie"/>
        </route>
    </router>
</config>
