<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="rules_save_before">
        <observer name="magenest_chaptesix_savebefore_rules" instance="Magenest\ChapterSix\Observer\RulesSaveChapter" />
    </event>
</config>
