<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route frontName="chapter_two" id="chaptertwo">
            <module name="Magenest_ChapterTwo"/>
        </route>
    </router>
</config>
