<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Init Ui_Component For Movie Listing -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="magenestadmin_movie_listing_data_source" xsi:type="string">magenestadmin_movie_collection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="magenestadmin_movie_collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_movie</argument>
            <argument name="resourceModel" xsi:type="string">Magenest\Movie\Model\ResourceModel\Movie</argument>
        </arguments>
    </virtualType>
    <!-- Init Ui_Component For Director Listing -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="magenestadmin_director_listing_data_source" xsi:type="string">
                    magenestadmin_director_collection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="magenestadmin_director_collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_director</argument>
            <argument name="resourceModel" xsi:type="string">Magenest\Movie\Model\ResourceModel\Director</argument>
        </arguments>
    </virtualType>
    <!-- Init Ui_Component For Actor Listing -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="magenestadmin_actor_listing_data_source" xsi:type="string">
                    magenestadmin_actor_collection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="magenestadmin_actor_collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_actor</argument>
            <argument name="resourceModel" xsi:type="string">Magenest\Movie\Model\ResourceModel\Actor</argument>
        </arguments>
    </virtualType>
</config>
