<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="\Magento\Catalog\Ui\Component\Listing\Columns"
                type="Magenest\ChapterFive\Plugin\Columns"></preference>
</config>
