<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magenest\ChapterOne\Model\ResoucreModel\Rules\Collection">
        <plugin name="Magenest_Movie_ChangeDataAfterAddToCart" type="Magenest\ChapterOne\Plugin\Collection"/>
    </type>

</config>
