<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="rules_save_after">
        <observer name="magenest_chapterone_saveafter_rules" instance="Magenest\ChapterOne\Observer\RulesSaveChapter" />
    </event>
    <event name="rules_load_after">
        <observer name="magenest_chapterone_loadafter_rules" instance="Magenest\ChapterOne\Observer\RulesLoadChapter" />
    </event>

</config>
